body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nome {
  width: 90%;
  padding: 10px;
  border-radius: 7px;
}

button {
  width: 100%;
  background-color: rgb(0, 47, 255);
  color: white;
  padding: 10px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 15px;
}

button:hover {
  background-color: rgb(68, 0, 255);
}
